# build output
dist/
.output/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.local
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# vs code setting folder
.vscode/

# A2UI related folders (不提交)
A2UI/
a2ui/
A2UI
a2ui

# astro cache
.astro

# EdgeOne build output
.edgeone/