---
/**
 * EvervaultBody 组件
 * 
 * 包含 EdgeOne 页面的 body 内容（只保留 header 部分）
 */

interface Props {
  brandName?: string;  // 预留：未来可能支持品牌名称替换
}

const { brandName = 'EdgeOne' } = Astro.props;
---

<!-- EdgeOne Page Body Content (Header Only) -->
<link rel="preload" as="image" href="/images/logo-white.svg" />
<link rel="preload" as="image" href="/images/icon-white.svg" />
<link rel="preload" as="image" href="/images/logos/rippling2.svg" />
<link rel="preload" as="image" href="/images/logos/cartrawler.svg" />
<link rel="preload" as="image" href="/images/logos/sorare.svg" />
<link rel="preload" as="image" href="/images/logos/uniswap.svg" />
<link rel="preload" as="image" href="/images/logos/sling.svg" />
<link rel="preload" as="image" href="/images/logos/safety-wing.svg" />
<link rel="preload" as="image" href="/images/logos/ramp.svg" />
<link rel="preload" as="image" href="/images/logos/stitch.svg" />
<link rel="preload" as="image" href="/images/logos/xp.svg" />
<link rel="preload" as="image" href="/images/logos/overwolf.svg" />
<link rel="preload" as="image" href="/images/logos/duffel.svg" />
<link rel="preload" as="image" href="/images/logos/humaans.svg" />
<link rel="preload" as="image" href="/images/logos/react.svg" />
<link rel="preload" as="image" href="/images/logos/node.svg" />
<link rel="preload" as="image" href="/images/logos/python.svg" />
<link rel="preload" as="image" href="/images/logos/pci.svg" />
<link rel="preload" as="image" href="/images/logos/soc.svg" />
<div id="__next">
</div>
<script is:inline id="__NEXT_DATA__" type="application/json">
  {
    "props": { "pageProps": {}, "__N_SSG": true },
    "page": "/",
    "query": {},
    "buildId": "wknHqEp23JRPuGFRtc4as",
    "isFallback": false,
    "gsp": true,
    "scriptLoader": []
  }
</script>

